components:
  schemas:
    CreateUploadBoxRequest:
      description: Request model for creating a new research data upload box.
      properties:
        description:
          description: Describes the upload box in more detail
          title: Description
          type: string
        storage_alias:
          description: S3 storage alias to use for uploads
          minLength: 1
          title: Storage Alias
          type: string
        title:
          description: Short meaningful name for the box
          minLength: 1
          title: Title
          type: string
      required:
      - title
      - description
      - storage_alias
      title: CreateUploadBoxRequest
      type: object
    GrantAccessRequest:
      description: Request model for granting upload access to a user.
      properties:
        box_id:
          description: ID of the upload box
          format: uuid4
          title: Box Id
          type: string
        iva_id:
          description: ID of the IVA verification
          format: uuid4
          title: Iva Id
          type: string
        user_id:
          description: ID of the user to grant access to
          format: uuid4
          title: User Id
          type: string
      required:
      - user_id
      - iva_id
      - box_id
      title: GrantAccessRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ResearchDataUploadBox:
      description: 'A class representing a ResearchDataUploadBox.


        Contains all fields from the FileUploadBox.'
      properties:
        changed_by:
          description: ID of the user who performed the latest change
          format: uuid4
          title: Changed By
          type: string
        description:
          description: Describes the upload box in more detail
          title: Description
          type: string
        file_count:
          default: 0
          description: The number of files in the box
          title: File Count
          type: integer
        file_upload_box_id:
          description: The ID of the file upload box.
          format: uuid4
          title: File Upload Box Id
          type: string
        id:
          description: Unique identifier for the research data upload box
          format: uuid4
          title: Id
          type: string
        last_changed:
          description: Timestamp of the latest change
          format: date-time
          title: Last Changed
          type: string
        locked:
          default: false
          description: Whether or not changes to the files in the file upload box
            are allowed
          title: Locked
          type: boolean
        size:
          default: 0
          description: The total size of all files in the box
          title: Size
          type: integer
        state:
          $ref: '#/components/schemas/ResearchDataUploadBoxState'
          description: Current state of the upload box
        storage_alias:
          description: S3 storage alias to use for uploads
          title: Storage Alias
          type: string
        title:
          description: Short meaningful name for the box
          title: Title
          type: string
      required:
      - state
      - title
      - description
      - last_changed
      - changed_by
      - file_upload_box_id
      - storage_alias
      title: ResearchDataUploadBox
      type: object
    ResearchDataUploadBoxState:
      description: The allowed states for a ResearchDataUploadBox instance.
      enum:
      - open
      - locked
      - closed
      title: ResearchDataUploadBoxState
      type: string
    UpdateUploadBoxRequest:
      description: Request model for updating a research data upload box.
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Updated description
          title: Description
        state:
          anyOf:
          - $ref: '#/components/schemas/ResearchDataUploadBoxState'
          - type: 'null'
          description: Updated state
        title:
          anyOf:
          - type: string
          - type: 'null'
          description: Updated title
          title: Title
      title: UpdateUploadBoxRequest
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
info:
  description: A service providing a web-accessible management and auth layer over
    upload-path file services.
  title: Upload Orchestration Service
  version: 0.1.0
openapi: 3.1.0
paths:
  /access-grant:
    post:
      description: Grant upload access to a user for a single research data upload
        box. Users cannot upload any files until they have been granted access to
        a box.
      operationId: grant_upload_access_access_grant_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Grant upload access
      tags:
      - UploadOrchestrationService
  /boxes:
    post:
      description: Create a new research data upload box to label and track related
        file uploads for a given user.
      operationId: create_research_data_upload_box_boxes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadBoxRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                format: uuid4
                title: Response Create Research Data Upload Box Boxes Post
                type: string
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create upload box
      tags:
      - UploadOrchestrationService
  /boxes/{box_id}:
    get:
      description: Returns the details of an existing research data upload box.
      operationId: get_research_data_upload_box_boxes__box_id__get
      parameters:
      - in: path
        name: box_id
        required: true
        schema:
          format: uuid
          title: Box Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchDataUploadBox'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get upload box details
      tags:
      - UploadOrchestrationService
    patch:
      description: Update modifiable details for a research data upload box, including
        the description, title, and state. When modifying the state, users are only
        allowed to move the state from OPEN to LOCKED, and all other changes are restricted
        to Data Stewards.
      operationId: update_research_data_upload_box_boxes__box_id__patch
      parameters:
      - in: path
        name: box_id
        required: true
        schema:
          format: uuid
          title: Box Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUploadBoxRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update upload box
      tags:
      - UploadOrchestrationService
  /boxes/{box_id}/uploads:
    get:
      description: List the file IDs of all files uploaded for a research data upload
        box.
      operationId: list_upload_box_files_boxes__box_id__uploads_get
      parameters:
      - in: path
        name: box_id
        required: true
        schema:
          format: uuid
          title: Box Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  format: uuid4
                  type: string
                title: Response List Upload Box Files Boxes  Box Id  Uploads Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List files in upload box
      tags:
      - UploadOrchestrationService
  /health:
    get:
      description: Used to test if this service is alive
      operationId: health_health_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: health
      tags:
      - UploadOrchestrationService
tags:
- name: UploadOrchestrationService
