info:
  description: A service providing a web-accessible management and auth layer over
    upload-path file services.
  title: Upload Orchestration Service
  version: 0.1.0
openapi: 3.1.0
paths:
  /health:
    get:
      description: Used to test if this service is alive
      operationId: health_health_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: health
      tags:
      - UploadOrchestrationService
tags:
- name: UploadOrchestrationService
